.dropdown {
    display: flex;
    flex-direction: column;
    width: 1024px;
    max-width: 582px;
    color: #FF6060;
}

.dropdown__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    background-color: #FF6060;
    padding: 13px 12px 13px 20px;
    border-radius: 10px;

}

.hidden {
    max-height: 0;
    transition: max-height 0.18s ease-in-out;
}

.dropdown__arrow {
    transition: transform 0.18s ease-in-out;
}

.dropdown__list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0;
    border-radius: 0 10px 0 10px;
    background-color: #F7F7F7;
    transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;
    overflow: hidden;
}

.dropdown__item {
    color: #FF6060;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

}

.topStyle {
    margin: 30px 0 15px 0
}

.bottomStyle {
    margin: 15px 0 30px 0
}

.middleStyle {
    margin: 15px 0
}