.dropdown {
    display: flex;
    flex-direction: column;
    width: 100%; 
    max-width: 582px;
    color: #FF6060;
    
}

.dropdown__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    background-color: #FF6060;
    padding: 13px 12px 13px 20px;
    border-radius: 10px;

}

.hidden {
    max-height: 0;
    transition: max-height 0.18s ease-in-out;
}

.dropdown__arrow {
    transition: transform 0.18s ease-in-out;
}

.dropdown__list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0;
    border-radius: 0 10px 0 10px;
    background-color: #F7F7F7;
    transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;
    overflow: hidden;
    
}

.dropdown__item {
    color: #FF6060;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

}

.topStyle {
    margin: 30px 0 15px 0
}

.bottomStyle {
    margin: 15px 0 30px 0
}

.middleStyle {
    margin: 15px 0
}

@media (max-width:830px){
    .dropdown {
        width: 100%;
    }

    .dropdown__title {
        font-size: 13px;
        line-height: 19px;
        padding: 5px 0 5px 12px;
        border-radius: 5px;
    }

    .dropdown__arrow{
        margin: 0 7px 0 0
    }

    .dropdown__arrow svg{
        width: 16px;
        height: 9px;
    }

    .dropdown__list {
        height: 100%;
        border-radius: 5px;
    }

    .dropdown__item {
        font-size: 12px;
        line-height: 17px;
    }

    .topStyle {
        margin: 20px 0 10px 0
    }
    
    .bottomStyle {
        margin: 10px 0 20px 0
    }
    
    .middleStyle {
        margin: 10px 0
    }

}