.profile__container__name {
    max-width: 90px;
    max-height: 64px;
    display: flex;
    justify-content: flex-end;

}

.profile__container__h1{
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: #FF6060;
    display: flex;
}

.profile__container__image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #C4C4C4;
}

.profile__container{
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.profile__container__image{
    background-position: center;
    background-size: cover;
}

@media (max-width: 830px) {
    .profile__container__image {
        width: 32px;
        height: 32px;
    }

    .profile__container__name {
        max-height: 32px;
        margin: 0 10px 0 0;
    }

    .profile__container__h1 {
        font-size: 12px;
        line-height: 17px;
    }
}