.star__active path {
    fill: #FF6060;
}

.star__inactive path {
    fill: #E3E3E3;
}

.star {
    margin: 0 7px;
}

@media (max-width: 830px) {
    .star {
        margin: 0 3px;
    }

    .star__inactive{
        width: 14px;
        height: 14px;
    }

    .star__active {
        width: 14px;
        height: 14px;
    }
}