.main{
    margin: 0 100px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

.componentDesc{
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    /* margin:0 0 20px 0; */
}