header {
    margin: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1240px;
}

@media (max-width: 550px) {
    header {
        padding: 20px 20px;
        box-sizing: border-box;
        margin: 0;
    }
}
    
