.nav__list {
    display: flex;
    align-items: flex-end;
    text-align: right;
    justify-content: space-between;
    width: 300px;
    width: auto;
}

@media (max-width: 830px) {
    .nav__list {
        padding: 0;
    }
}
    
